
/* NavBar */

.mlg-logo{
  width:40px;
}

.logo-name{
    color: white;
  line-height: 20px;
  font-weight: bold;
}

.covid-name{
  font-size: 15px;
  font-weight: bold;
}

.box-shadow{
  box-shadow: 0px 3px 6px #BFC1C2;
}

.mlg-name{
  text-decoration: none;
  color:white;
}


@media screen and (max-width: 480px) {
.logo-name{
  display:none;
}
}