
/* NavBar */

.mlg-logo{
  width:40px;
}

.logo-name{
    color: white;
  line-height: 20px;
  font-weight: bold;
}

.covid-name{
  font-size: 15px;
  font-weight: bold;
}

.box-shadow{
  box-shadow: 0px 3px 6px #BFC1C2;
}

.mlg-name{
  text-decoration: none;
  color:white;
}

.align-button{
  display:flex;
  align-items: center;
  justify-content: center;
}

.subhead{
  line-height: 25px;

}
.logincontainerhover{
  background-color: #abe9cd;
  background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%); 
  color:white;
  padding:8px 40px;
  border-radius:50px;
}
.logincontainerhover:hover{
  outline: 1px solid #3eadcf;
  background-color: #ffffff;
background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  color:#3eadcf;
}

.registercontainerhover{
    outline:1px solid #3eadcf ;
    color:white;
    padding:8px 40px;
    border-radius:50px;
    color:#3eadcf;
}

.registercontainerhover:hover{
  background-color: #abe9cd;
  background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%); 
  color:white;
  padding:8px 40px;
  border-radius:50px;
}

@media screen and (max-width: 480px) {
.logo-name{
  display:none;
}
}