body{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}




/* Footer */
  .ul-tag{
    display: flex;
    list-style-type: none;
  }

  .footer-main{
    display: flex;
    margin-top:4%;
  }

  .footer-right{
    display:flex;
  }

  .hide-this{
    visibility: hidden;
  }


  @media screen and (max-width: 480px) {
   .ul-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }

   .col-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }

   .footer-main{
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .bottom-col{
    display: flex;
    flex-direction: column;
  }

    }






/* HomePage */

.registercontainer{
  display: none;

}
 
.logincontainer{
padding-top: 3%;;
}

.overflow{
  overflow-x: hidden;
}


.NavBar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

/* ProfilePage */


/* LoginPage */


/* RegisterPage */


/* ListPage */


